
.container{
  background-image: linear-gradient(rgba(255,0,0,0), rgb(92, 90, 90));
}

/* CSS: Cascading Style Sheets | MDN, Using CSS gradients - CSS: Cascading Style Sheets: MDN, Retrieved on 22 March 2023 from https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Images/Using_CSS_gradients
 */

.title{
  float: right;
  margin-right: 5rem;
}

.header-logo{
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  margin-top: 0.5rem;
}

.company-name{
  width: 5px;
}

.company-name span{
  color: red;
}


.slogan{
  font-weight: 700;
}

.sign-up{
  border: none;
  color: black;
  background-color: rgb(209, 201, 201);
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 1rem;
}

.sign-up:hover{
  background-color: white;
  color: black;
}

.welcome{
  text-align: left;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 1rem;
}



